html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.header-flex {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: -165px;
}

nav ul li {
  margin-left: 30px;
  margin-top: 10px;
}

nav ul li:hover {
  text-decoration: underline;
}

.nav-item {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 13px;
}

.main-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #495e57;
  width: 100%;
  height: 270px;
}

.submain-flex {
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
  margin-bottom: 20px;
}

.delivery-flex {
  display: flex;
  justify-content: center;
}

.delivery-flex div {
  margin-left: 20px;
}
.footer-flex {
  display: flex;
  justify-content: center;
}

.footer-flex div {
  margin-left: 60px;
}

.footer-flex div ul {
  list-style: none;
}

.online-menu-btn {
  background: #f4ce14;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
  width: 120px;
  font-weight: 700;
}

.reserve-table-btn {
  background: #f4ce14;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  margin-top: 10px;
  font-weight: 700;
}

.little-lemon-text {
  color: #f4ce14;
}

.chicago-text {
  color: #edefee;
  line-height: 1.5;
}

.about-text {
  color: #edefee;
}

.restaurant-chef-img {
  border-radius: 10px;
  z-index: 1;
  margin-bottom: -80px;
}
